# Python 虛擬環境
stock/Lib/
stock/Include/
stock/Scripts/
stock/bin/
stock/lib/
stock/pyvenv.cfg

# 或者乾脆忽略整個 stock 資料夾
# 然後再手動允許你的程式檔
# (假設 fubon_scraper.py 在 stock/ 下)
# !stock/fubon_scraper.py

# Python 編譯暫存
__pycache__/
*.pyc
